/* Estilos para el contenedor de botones */
.button-container {
    display: flex;
    align-items: center; /* Alinea los botones verticalmente */
}

/* Estilos para los botones */
.btn {
    margin-right: 10px; /* Espaciado entre los botones */
    height: 40px; /* Altura fija */
    min-width: 120px; /* Ancho mínimo */
    font-size: 16px; /* Tamaño de fuente */
}


.campaigns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  section {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  p {
    font-size: 1em;
    color: #666;
  }
  